<%= turbo_frame_tag 'food_form' do %>
  <div class="food-form">
    <%= form_with model: @food, url: foods_path, data: { turbo_frame: 'food_form' } do |form| %>
      <h1 class="new-recipe-title"> New Food </h1>
      <div class="field">
        <%= form.label :name, class: "name-label" %>
        <%= form.text_field :name, placeholder: "name", class: "name-input", required: true %>
      </div>
      <div class="field">
        <%= form.label :measurement_unit, class: "name-label" %>
        <%= form.select :measurement_unit, options_for_select(['gr', 'lt', 'oz', 'units'], 'units'), placeholder: "measurement unit", class: "name-input" %>
      </div>
      <div class="field">
        <%= form.label :price, class: "name-label" %>
        <%= form.number_field :price, placeholder: "price", class: "name-input", required: true, step: '0.01' %>
      </div>
      <div class="field">
        <%= form.label :quantity, class: "name-label" %>
        <%= form.number_field :quantity, placeholder: "quantity", class: "name-input", required: true, min: 1, step: '0.01' %>
      </div>
      <div class="field">
        <%= form.submit "Add Food", class: "new-button" %>
      </div>
    <% end %>
  </div>
<% end %>